<!DOCTYPE html>
<html ng-app="racingFrogs">
<head>
    <meta charset="UTF-8">
    <title>Racing Frogs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="racingFrogs-app.css">
</head>

<body ng-controller="MainController as vm">
    {{1 + 1}}
    <br />
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="float-left">Welcome to The Frog Races</span>
                <span class="float-right">You have {{vm.getCount() | number:0}} frogs ready to RACE!</span><br />
            </div>
            <div class="panel-body">
                <table class="race-track" style="width: 100%">
                    <thead>
                        <tr>
                            <td style="width: 15px"> </td>
                            <td style="width: 55px">| Frog</td>
                            <td id="raceTrack">
                                <span class="float-left">| START</span>
                                <span class="float-right">FINISH |</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="frog in vm.frogs">
                            <td><span>{{frog.lane | number:0}} </span></td>
                            <td style="border: 1px solid blue; position: relative"><center>{{frog.name}}<!--<br />{{frog.position}}--></center></td>
                            <td style="border: 1px dashed blue; position: relative">
                                <div id="frog{{frog.lane}}" style="position: relative">
                                    <img src="{{frog.picUrl}}" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <!--<span>Track is {{vm.getTrackWidth() | number:0}} pixels wide.</span><br />-->
                <span class="btn button-custom" ng-click="vm.startRace()">Start Race</span>
                <span class="btn button-custom" ng-click="vm.move()">Move</span>
                <span class="btn button-custom" onclick="history.go(0)">Reset</span>
                <span class="float-right winner-found">{{vm.winner}}</span>
            </div>
        </div>

        <br />

        <div class="panel panel-primary">
            <div class="panel-heading">
                Fun with Joe and Bob
            </div>
            <div class="panel-body">
                <p>
                    Joe has {{ vm.joe.cash | currency }}
                </p>
                <p>
                    Bob has {{ vm.bob.cash | currency }}
                </p>
                <p>
                    The bank has {{ vm.bank | currency }}
                </p>
            </div>
            <div class="panel-footer">
                <span class="btn button-custom" ng-click="vm.giveMoneyToJoe()">Give $10 to Joe</span>
                <span class="btn button-custom" ng-click="vm.receiveMoneyFromBob()">Receive $5 from Bob</span>
            </div>
        </div>
    </div>
    Angular Working?  {{vm.working}}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular.min.js"></script>
    <script src="racingFrogs-app.js"></script>
</body>
</html>
