body {
    background-color: lightblue;
}
.button-custom {
    background-color:lightgreen;
}
.float-left {
    display:inline-block;
    float:left;
}
.float-right {
    display:inline-block;
    float:right;
}
.winner-found {
    font-size:large;
    color:red;
}
.winner-off {
    display:inline-block;
    visibility:hidden;
}
.winner-on {
    display:inline-block;
    visibility:visible;
}
