.ng-status-container{
	position: absolute;
	top: 0;
	right:0;
}
.ng-status{
	display: none;
}
.ng-red-light{
	background-color: #DD1B16;
}
.ng-red-dark{
	background-color: #A6120D; 
}
.shopping-item{
  width:200px;
  border:2px solid darkslategray;
  padding:20px;
  background-color:lightslategray;
  text-align:center;
}

.shopping-item .item-name{
  color:white;
  text-align:center;
  font-weight:bold;
}

.shopping-item button{
  width:50%;
}

.shopping-item select{
  margin:1px;
  width:50%;
}

.shopping-item img{
  margin:10px 0;
  width:100px;
  height:100px;
}

.shopping-item .item-price{
  color:yellow;
  font-size:16px;
  font-weight:bold;
}