<small class="alert alert-success">HomeController Status: {{controller.homeStatus}}</small>

<h1>Welcome to the Angular Playground</h1>

<p>The angular playground is a simple tool to help get you introduced to angulars design patterns and quirks. Along the way
	you will likely find things you enjoy doing the JQuery way but the overall framework and organization that Angular brings
	to the table is well worth the learning curve.</p>

<p>With the power and speed that angular lends to us as developers when can quickly start writting full scale applications all
	while keeping our code clean and organized.</p>

<p>Angular offers many other benefits than just the ones discussed in this playground for more information read up at <a href="https://angularjs.org/"
	target="_blank">Angularjs.org</a></p>
<p>If you have not done it already please go through the CodeSchool <a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro"
	target="_blank">Shaping up with Angular</a> Course it is awesome.</p>

<hr>
<div>
	<h1>Exercises</h1>
	<p>The angular playground is a teaching tool so feel free to break things. You will notice that each section of the playground
		has notifications as to the status of the playground. If something is broken you will likely know with the help of the
		notifications.</p>

	<p>Each section of this playground is compartmentalized and offers a set of challenges that can be completed to solidify your
		understanding of the angular practices.</p>
	<p>To get to these exercises open the corresponding .html and scroll down until you see the Exercises Section of the html</p>
	
	<p>The folder structure follows that of a typically Angular Application so your path to the exercises will look something like</p>
	<pre><code><p><b>app/components/home/home.html</b></p></code></pre>
	<p>On some occasions you will need to edit the controller associated with a view as well to complete an exercise. The controller can be found in the same pattern</p>
	<pre><code><p><b>app/components/home/HomeController.js</b></p></code></pre>
	

	<ul class="list-group">
		<li class="list-group-item">
			<h4>Example</h4>
			<pre><code prism class="language-html">
&lt;div class="ng-exercises"&gt;
	&lt;h1&gt;Exercises&lt;/h1&gt;
	&lt;div class="challenges"&gt;
		&lt;ul class="list-group"&gt;
			&lt;li class="list-group-item"&gt;
				&lt;span class="challenge"&gt;Write a math equation that Angular can evaluate&lt;/span&gt;
				&lt;div class="answer"&gt;
					<span ng-non-bindable>{{&lt;!--Your Code Here--&gt;}}</span>
				&lt;/div&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;
			</code></pre>
		</li>
	</ul>
</div>