<div class="readme">
	<h3>Angular helps bridge the gap between your html, css, and js</h3>

	<p>A cool feature of angular is the ability to use <a href="https://docs.angularjs.org/guide/expression" target="_blank">Expressions</a> in our html</p>


	<p>Example: 2+2 = <span ng-non-bindable>{{ 2 + 2 }}</span></p>






</div>
<hr>
<!-- Once you have read up on Expressions go ahead and start editing the html below-->
<div class="ng-exercises">
	<h1>Exercises</h1>

	<div class="challenges">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="challenge">Write a math equation that Angular can evaluate</span>
				<div class="answer">
					<!--Your Code Here-->
					{{2+2}}
				</div>
			</li>
			<li class="list-group-item">
				<span class="challenge">Using string concatination get the customary Hello, World! to display on the screen</span>
				<div class="answer">
					<!--Your Code Here-->
					{{"Hello, " + "World!"}}
				</div>
			</li>
			<li class="list-group-item">
				<span class="challenge">Use a currency filter to display the number 2.45 as $2.45</span>
				<div class="answer">
					<!--Your Code Here-->
					{{2.45 | currency}}
				</div>
			</li>
			<li class="list-group-item">
				<span class="challenge">Using a property called test from our ViewModel Controller render</span>
				<div class="answer">
					<!--Your Code Here-->
					{{vm.test}}
				</div>
			</li>
		</ul>
	</div>
</div>